* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body > * {
    margin-bottom: 1rem;
}

#playarea {
    width: 600px;
    height: 600px;
    border: solid black 5px;
    border-collapse: collapse;
}

.playarea-cell {
    height: 190px;
    width: 190px;
    border: solid black 5px;
}

td {
    position: relative;
}

img {
    height: 190px;
    width: 190px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}