*
{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition-duration: 0.5s;
}

body
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EFF1F4;
  height: 100vh;
}

main
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 520px;
  width: 600px;
}

main section
{
  background-color: white;
  border-radius: 5px;
  height: 250px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}

section span.special
{
  color: white;
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 9px;
  position: absolute;
  top: -9px;
  left: 10px;
}

section:first-child span.special
{
  background-color: #36BF66;
}

section:nth-child(2) span.special
{
  background-color: #B385F2;
}

div.choose
{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-right: solid #EFF1F4 1px;
  padding-top: 20px;
}

div.choose div.price
{
  font-size: 18px;
  font-weight: 900;
}

div.choose input
{
  width: 80%;
  padding: 10px 0;
  border-radius: 5px;
  border: none;
  background-color: #F26430;
  color: white;
  margin-top: 10px;
}

div.choose p
{
  text-align: center;
  color: red;
  font-size: 12px;
  width: 80%;
}

div.info
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding: 20px;
}

div.info > div
{
  width: 100%;
}

div.info > div:not(:last-child)
{
  box-sizing: border-box;
  margin-bottom: 10px;
}

div.info > div:last-child
{
  border-top: solid lightgray 1px;
}

div.info-header
{
  width: 100%;
  height: 30%;
}

div.info-header div.logos
{
  float: left;
}

div.info-header div.logos i
{
  margin-right: 10px;
}

div.info-header div.additional-info
{
  float: right;
}

div.info-header div.additional-info i
{
  width: 16px;
  margin-top: 3px;
  box-shadow: 0 1px 3px gray;
  border-radius: 50%;
  color: red;
}

div.info-header div.additional-info i:first-child
{
  padding: 5px 4px 5px 6px;
}

div.info-header div.additional-info i:nth-child(2)
{
  padding: 5px 3px 5px 7px;
}

div.info-header div.additional-info i:nth-child(3)
{
  padding: 5px 4px 5px 6px;
}

div.info-header div.buttons
{
  float: right;
  margin-left: 5px;
}

div.info-header div.buttons button
{
  color: gray;
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  margin: 4px 0 0 3px;
}

div.info > div:not(.info-header)
{
  height: 35%;
}

div.that-way
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div.that-way > div
{
  height: 100%;
}

div.departure-info, div.arrival-info
{
  display: flex;
  flex-direction: column;
  width: 25%;
}

div.departure-info div.time, div.arrival-info div.time
{
  font-size: 24px;
}

div.departure-info > div:not(.time), div.arrival-info > div:not(.time)
{
  color: rgb(200, 200, 200);
  font-size: 12px;
  font-weight: 300;
}

div.flight-diagram
{
  width: 50%;
}