:root {
  --first-special-span-background-color: #36BF66;
  --second-special-span-background-color: #B385F2;
  --main-lightgray: #EFF1F4;
  --section-background-color: white;
  --special-span-text-color: white;
  --div-choose-button-color: #F26430;
  --div-choose-button-text-color: white;
  --div-choose-text-color: red;
  --flight-info-bottom-div-top-border-color: lightgray;
  --additional-flight-info-icon-color: red;
  --additional-flight-info-icon-shadow-color: gray;
  --additional-flight-info-button-color: gray;
  --flight-info-city-and-date-text-color: rgb(200, 200, 200);
  --flight-info-diagram-fragment-color: rgb(220, 220, 220);
  --flight-info-airport-name-color: #3D8CFE;
  --revealable-text-background-color: black;
  --revealable-text-color: white;

  --section-hover-shadow-color: lightgray;
  --div-choose-button-hover-color: #E15320;
  --div-buttons-hover-color: rgb(0, 70, 255);
}

*
{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition-duration: 0.5s;
}

body
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-lightgray);
  height: 100vh;
}

main
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 520px;
  width: 650px;
}

section
{
  background-color: var(--section-background-color);
  border-radius: 5px;
  height: 250px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}

span.special
{
  color: var(--special-span-text-color);
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 9px;
  position: absolute;
  top: -9px;
  left: 10px;
}

section:first-child span.special
{
  background-color: var(--first-special-span-background-color);
}

section:nth-child(2) span.special
{
  background-color: var(--second-special-span-background-color);
}

div.choose
{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-right: solid var(--main-lightgray) 1px;
  padding-top: 20px;
}

div.price
{
  font-size: 18px;
  font-weight: 900;
}

div.choose input
{
  width: 80%;
  padding: 10px 0;
  border-radius: 5px;
  border: none;
  background-color: var(--div-choose-button-color);
  color: var(--div-choose-button-text-color);
  margin-top: 10px;
  transition-duration: 0s;
}

div.choose p
{
  text-align: center;
  color: var(--div-choose-text-color);
  font-size: 12px;
  width: 80%;
}

div.info
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  padding: 20px;
}

div.info > div
{
  width: 100%;
}

div.info > div:not(:last-child)
{
  box-sizing: border-box;
  margin-bottom: 10px;
}

div.info > div:last-child
{
  padding-top: 10px;
  border-top: solid var(--flight-info-bottom-div-top-border-color) 1px;
}

div.info-header
{
  width: 100%;
  height: 30%;
}

div.logos
{
  float: left;
  display: flex;
  flex-direction: row;
}

div.logos i
{
  margin-right: 10px;
}

div.additional-info
{
  float: right;
  display: flex;
  flex-direction: row;
}

div.additional-info i
{
  width: 16px;
  margin-top: 3px;
  box-shadow: 0 1px 3px var(--additional-flight-info-icon-shadow-color);
  border-radius: 50%;
  color: var(--additional-flight-info-icon-color);
}

div.revealable-text-container:first-of-type i
{
  padding: 5px 4px 5px 6px;
}

div.revealable-text-container:nth-of-type(2) i
{
  padding: 5px 3px 5px 7px;
}

div.revealable-text-container:nth-of-type(3) i
{
  padding: 5px 4px 5px 6px;
}

div.buttons
{
  float: right;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
}

div.buttons button
{
  color: var(--additional-flight-info-button-color);
  background: none;
  border: none;
  width: 24px;
  height: 24px;
  margin: 6px 3px;
  padding-left: 3px;
  transition-duration: 0s;
}

div.info > div:not(.info-header)
{
  height: 35%;
}

div.that-way, div.this-way
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div.that-way > div, div.this-way > div
{
  height: 100%;
}

div.departure-info, div.arrival-info
{
  display: flex;
  flex-direction: column;
  width: 25%;
}

div.time, div.time
{
  font-size: 24px;
}

div.departure-info > div:not(.time), div.arrival-info > div:not(.time)
{
  color: var(--flight-info-city-and-date-text-color);
  font-size: 12px;
  font-weight: 300;
  margin-top: 3px;
}

div.arrival-info > div
{
  margin-left: auto;
}

div.flight-diagram
{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

div.flight-diagram > div
{
  width: 100%;
}

div.duration-and-icons
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--flight-info-city-and-date-text-color);
}

div.duration-and-icons span
{
  font-size: 12px;
  font-weight: 300;
}

div.diagram-and-airports
{
  display: flex;
  flex-direction: row;
}

div.stage
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section:nth-of-type(1) div.stage:nth-of-type(1)
{
  width: 10%;
}

section:nth-of-type(1) div.stage:nth-of-type(2)
{
  width: 50%;
}

section:nth-of-type(1) div.stage:nth-of-type(3)
{
  width: 40%;
}

section:nth-of-type(1) div.stage:nth-of-type(1)
{
  width: 50%;
}

section:nth-of-type(1) div.stage:nth-of-type(2)
{
  width: 40%;
}

section:nth-of-type(1) div.stage:nth-of-type(3)
{
  width: 10%;
}

section:nth-of-type(2) div.stage:nth-of-type(1)
{
  width: 25%;
}

section:nth-of-type(2) div.stage:nth-of-type(2)
{
  width: 20%;
}

section:nth-of-type(2) div.stage:nth-of-type(3)
{
  width: 55%;
}

section:nth-of-type(2) div.stage:nth-of-type(1)
{
  width: 60%;
}

section:nth-of-type(2) div.stage:nth-of-type(2)
{
  width: 20%;
}

section:nth-of-type(2) div.stage:nth-of-type(3)
{
  width: 20%;
}

div.stage:not(first-of-type):not(last-of-type)
{
  align-items: center;
}

div.stage:first-of-type > span
{
  margin-right: auto;
}

div.stage:last-of-type > span
{
  margin-left: auto;
}

div.diagram-fragment
{
  width: 100%;
  border: solid var(--flight-info-diagram-fragment-color) 1px;
  margin-top: 2px;
}

div.stage:nth-child(odd) div.diagram-fragment
{
  border-width: 3px;
  border-radius: 3px;
  margin-top: 0;
}

span.airport-name
{
  font-size: 10px;
  font-weight: 900;
  margin-top: 10px;
  color: var(--flight-info-airport-name-color);
}

section:hover
{
  cursor: pointer;
  box-shadow: 0 1px 10px var(--section-hover-shadow-color);
}

div.choose input:hover
{
  cursor: inherit;
  color: rgb(220, 220, 220);
  background-color: var(--div-choose-button-hover-color);
}

div.buttons button:hover
{
  cursor: inherit;
  color: var(--div-buttons-hover-color);
}

p.revealable
{
  background-color: var(--revealable-text-background-color);
  color: var(--revealable-text-color);
  text-align: center;
  position: absolute;
  top: -40px;
  opacity: 0;
  pointer-events: none;
  transition-duration: 0.2s;
  font-weight: 100;
  font-size: 12px;
  padding: 10px;
  border-radius: 5px;

}

p.revealable.small
{
  width: 100px;
  left: calc(50% - 60px);
}

p.revealable.large
{
  width: 150px;
  right: calc(50% - 85px);
}

div.revealable-text-container
{
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  position: relative;
}

@keyframes icon-hover-text-reveal-one-line
{
  0%
  {
    opacity: 0;
  }
  50%
  {
    opacity: 1;
    top: -60px;
  }
  100%
  {
    top: -55px;
  }
}

@keyframes icon-hover-text-reveal-four-line
{
  0%
  {
    opacity: 0;
  }
  50%
  {
    opacity: 1;
    top: calc(-60px - 3em - 10px);
  }
  100%
  {
    top: calc(-55px - 3em - 10px);
  }
}

div.revealable-text-container:hover p.revealable.one-line
{
  animation: icon-hover-text-reveal-one-line 0.6s;
  opacity: 1;
  top: -55px;
}

div.revealable-text-container:hover p.revealable.four-line
{
  animation: icon-hover-text-reveal-four-line 0.6s;
  opacity: 1;
  top: calc(-55px - 3em - 10px);
}