:root {
    --primary-color: #00B2DC;
    --secondary-color: #464646;
    --lightgray: #F2F2F2;
    --lightgray-2: #C0C0C0;
}

* {
    font-family: 'Lato', sans-serif;
    transition-duration: 0.5s;
    font-weight: 400;
}

html {
    font-size: 12px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

body > * {
    width: 100%;
}
  
header {
    background-color: var(--lightgray);
    height: 70px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.username {
    margin-left: auto;
    margin-right: 1rem;
}

button:not(.own-tweet-button) {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 0 16px;
    height: 37px;
}

button:not(.own-tweet-button):hover {
    background-color: black;
    cursor: pointer;
}

header button {
    margin-right: 30px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > * {
    width: 100%;
}

section.new-tweet, section.new-comment {
    display: flex;
    flex-direction: column;
}

section.new-tweet p, section.new-comment p {
    font-size: 1.2rem;
    margin-left: 15%;
}

section.new-tweet input, section.new-comment input {
    font-weight: 300;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    border: solid var(--lightgray-2) 1px;
    border-radius: 2px;
}

section.tweets {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 20px 0;
}

section.tweets > *:not(button) {
    width: 60%;
    padding: 1rem 0;
}

button.filters-button {
    position: absolute;
    left: 10%;
    top: calc(1.3rem + 20px);
}

div.tweet {
    display: flex;
    flex-direction: column;
    border-bottom: solid var(--lightgray-2) 1px;
    width: 60%;
}

div.tweet:hover {
    cursor: pointer;
}

div.tweet > p, div.comment > p {
    margin: 0.3rem 0;
}

p.author-info {
    color: var(--secondary-color);
    margin: 0.3rem 0;
}

p.tweet-text, p.comment-text {
    font-size: 1.5rem;
}

p.tweet-text span.hashtag {
    color: var(--primary-color);
}

span.hashtag:hover {
    cursor: pointer;
    text-decoration: underline;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: var(--primary-color);
    color: white;
    margin-top: auto;
}

footer > p {
    margin-left: 22%;
    font-family: 'Gugi';
    font-size: 4rem;
}

div.footer-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 22%;
    width: 30%;
}

div.footer-info p {
    margin: 0.2rem 10px;
    width: 200px;
    text-align: center;
}

@media all and (max-width: 800px) {
    button.filters-button {
        left: 5%;
    }

    footer {
        flex-direction: column;
        height: 126px;
        padding: 10px 0;
    }

    footer > p, div.footer-info {
        margin: 0;
    }

    div.footer-info {
        flex-direction: column;
    }
}

@media all and (max-width: 500px) {
    button.filters-button {
        left: 15px;
        padding: 5px;
    }
}

header i {
    margin-left: 30px;
}

section.tweet {
    padding: 10px 0;
}

section.tweet p.author-info {
    margin: 0.3rem 10%;
}

section.tweet p.tweet-text {
    margin: 0.3rem 5%;
    line-height: 1.5em;
    padding-bottom: 10px;
    border-bottom: solid var(--lightgray-2) 1px;
}

section.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    max-height: 800px;
}

div.comment {
    width: 60%;
    border-bottom: solid var(--lightgray-2) 1px;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

section.new-comment {
    margin-bottom: 2rem;
}

@media all and (max-width: 800px) {
    section.comments {
        overflow-y: auto;
        max-height: none;
    }
}

.author-info-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.own-tweet-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.own-tweet-button {
    margin-left: 0.5rem;
    padding: 0;
    background: none;
    border: none;
    color: var(--lightgray-2);
    transition-duration: 0s;
}

.own-tweet-button:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.own-tweet-tool {
    transition-duration: 0s;
}

.auth-window {
    display: flex;
    flex-direction: column;
    max-width: 35rem;
    margin-top: 15rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    margin-bottom: 5rem;
}

.auth-window-header {
    background-color: var(--primary-color);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-window-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0 2rem 0;
    background-color: var(--lightgray);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.auth-window-textarea {
    resize: none;
    width: 20rem;
    margin: 0.5rem 0;
    background-color: var(--lightgray);
    border-color: var(--lightgray-2);
    padding: 0.5rem;
    transition-duration: 0s;
    font-size: 1.3rem;
    height: 1.8rem;
}

.password {
    -webkit-text-security: disc;
}

.auth-window-textarea:focus-visible {
    border: solid black 1px;
    outline: none;
}

.auth-window-button {
    margin-top: 3rem;
}

.auth-window-misc-text {
    margin: 0.6rem 0 0 0;
    color: var(--lightgray-2);
}

.link {
    color: var(--primary-color);
    text-decoration: underline;
}

.link:hover {
    cursor: pointer;
}