:root {
    --primary-color: #00B2DC;
    --secondary-color: #464646;
    --lightgray: #F2F2F2;
    --lightgray-2: #C0C0C0;
}

* {
    font-family: 'Lato', sans-serif;
    transition-duration: 0.5s;
    font-weight: 400;
}

*:focus-visible {
    outline: none;
}

html {
    font-size: 12px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

body > * {
    width: 100%;
}
  
header {
    background-color: var(--lightgray);
    height: 70px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.username {
    margin-left: auto;
    margin-right: 1rem;
}

button:not(.own-tweet-button) {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 0 16px;
    height: 37px;
}

button:not(.own-tweet-button):hover {
    background-color: black;
    cursor: pointer;
}

#header-login-button {
    margin-right: 30px;
}

#header-home-button {
    margin: 0 auto 0 30px;
    width: auto;
    padding: 0;
    background: none;
    color: var(--lightgray-2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home {
    margin: 0;
    transform: scale(1.5);
}

.home:hover {
    color: black;
}

main > * {
    width: 100%;
}

section.new-tweet, section.new-comment {
    display: flex;
    flex-direction: column;
}

section.new-tweet p, section.new-comment p {
    font-size: 1.2rem;
    margin-left: 15%;
}

section.new-tweet input, section.new-comment input {
    font-weight: 300;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    border: solid var(--lightgray-2) 1px;
    border-radius: 2px;
}

section.tweets {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 20px 0;
}

section.tweets > *:not(button) {
    width: 60%;
    padding: 1rem 0;
}

button.filters-button {
    position: absolute;
    left: 10%;
    top: calc(1.3rem + 20px);
}

div.tweet {
    display: flex;
    flex-direction: column;
    border-bottom: solid var(--lightgray-2) 1px;
    width: 60%;
}

div.tweet:hover {
    cursor: pointer;
}

div.tweet > p, div.comment > p {
    margin: 0.3rem 0;
}

p.author-info {
    color: var(--secondary-color);
    margin: 0.3rem 0;
}

p.tweet-text, p.comment-text {
    font-size: 1.5rem;
}

p.tweet-text span.hashtag {
    color: var(--primary-color);
}

span.hashtag:hover {
    cursor: pointer;
    text-decoration: underline;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: var(--primary-color);
    color: white;
    margin-top: auto;
}

footer > p {
    margin-left: 22%;
    font-family: 'Gugi';
    font-size: 4rem;
}

div.footer-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 22%;
    width: 30%;
}

div.footer-info p {
    margin: 0.2rem 10px;
    width: 200px;
    text-align: center;
}

header i {
    margin-left: 30px;
}

section.tweet {
    padding: 10px 0;
}

section.tweet p.author-info {
    margin: 0.3rem 10%;
}

section.tweet p.tweet-text {
    margin: 0.3rem 5%;
    line-height: 1.5em;
    padding-bottom: 10px;
    border-bottom: solid var(--lightgray-2) 1px;
}

section.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    max-height: 800px;
}

div.comment {
    width: 60%;
    border-bottom: solid var(--lightgray-2) 1px;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

section.new-comment {
    margin-bottom: 2rem;
}

@media all and (max-width: 800px) {
    section.comments {
        overflow-y: auto;
        max-height: none;
    }
}

.author-info-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.own-tweet-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.own-tweet-button {
    margin-left: 0.5rem;
    padding: 0;
    background: none;
    border: none;
    color: var(--lightgray-2);
    transition-duration: 0s;
}

.own-tweet-button:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.own-tweet-tool {
    transition-duration: 0s;
}

.auth-window {
    display: flex;
    flex-direction: column;
    max-width: 35rem;
    margin-top: 10rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    margin-bottom: 5rem;
}

.auth-window-header {
    background-color: var(--primary-color);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-window-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0 2rem 0;
    background-color: var(--lightgray);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.auth-window-textarea {
    resize: none;
    width: 20rem;
    margin: 0.5rem 0;
    background-color: var(--lightgray);
    border-color: var(--lightgray-2);
    padding: 0.5rem;
    transition-duration: 0s;
    font-size: 1.3rem;
    height: 1.8rem;
}

.password {
    -webkit-text-security: disc;
}

#auth-window-button {
    margin-top: 3rem;
}

.auth-window-misc-text {
    margin: 0.6rem 0 0 0;
    color: var(--lightgray-2);
}

.link {
    color: var(--primary-color);
    text-decoration: underline;
}

.link:hover {
    cursor: pointer;
}

#filter-block {
    position: absolute;
    top: -4rem;
    left: calc(-100% - 2rem);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    height: 4rem;
    background-color: var(--lightgray);
    width: 100%;
    padding: 1rem;
}

#filter-block * {
    font-size: inherit;
}

#filter-block > * {
    margin-right: 1rem;
}

.filter {
    resize: none;
    width: 15%;
    border-radius: 0.5rem;
}

textarea.filter {
    padding: 1.1rem 0 0 1rem;
    border: solid var(--lightgray-2) 1px;
    background-color: var(--lightgray);
    transition-duration: 0s;
}

textarea.filter:focus-visible {
    background-color: white;
}

.date-filter-text {
    margin: 0 1rem 0 0;
}

.date-filter-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
}

.date-filter-lists {
    width: 80%;
    display: flex;
    flex-direction: row;
}

.date-filter-block.from {
    margin-bottom: 0.5rem;
}

.not-found {
    font-size: 4rem; 
    margin-top: 10rem; 
    text-align: center;
}

#tweet-edit-textarea {
    width: 700px;
    resize: vertical;
    font-size: 1.5rem;
}

#tweet-edit-textarea-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
}

.tweet-active-edit-button {
    margin: 1rem 2rem 0 0;
}

.tweet-active-edit-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media all and (max-width: 1400px) {
    .filter {
        width: 24%;
    }

    .date-filter-lists {
        width: 75%;
    }

    .date-filter-list {
        margin-left: 0.2rem;
    }
}

@media all and (max-width: 800px) {
    button.filters-button {
        left: 5%;
    }

    footer {
        flex-direction: column;
        height: 126px;
        padding: 10px 0;
    }

    footer > p, div.footer-info {
        margin: 0;
    }

    div.footer-info {
        flex-direction: column;
    }

    #filter-block {
        flex-direction: column;
        height: auto;
        top: calc(1.3rem + 20px + 37px + 1rem);
        width: 30rem;
        left: -32rem;
    }

    #filter-block > * {
        margin-right: 0;
        margin-bottom: 1rem;
    }
    
    .filter {
        width: 80%;
        max-width: 80%;
    }
}

@media all and (max-width: 500px) {
    button.filters-button {
        left: 15px;
        padding: 5px;
    }
}