:root {
    --primary-color: #00B2DC;
    --secondary-color: #464646;
    --lightgray: #F2F2F2;
    --lightgray-2: #C0C0C0;
}

* {
    font-family: 'Lato', sans-serif;
    transition-duration: 0.5s;
    font-weight: 400;
}

html {
    font-size: 12px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

body > * {
    width: 100%;
}
  
header {
    background-color: var(--lightgray);
    height: 70px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

button {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding: 0 16px;
    height: 37px;
}

button:hover {
    background-color: black;
    cursor: pointer;
}

header button {
    margin-right: 30px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > * {
    width: 100%;
}

section.new-tweet {
    display: flex;
    flex-direction: column;
}

section.new-tweet p {
    font-size: 1.2rem;
    margin-left: 15%;
}

section.new-tweet input {
    font-weight: 300;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    border: solid var(--lightgray-2) 1px;
}

section.tweets {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 20px 0;
}

section.tweets > *:not(button) {
    width: 60%;
    padding: 1rem 0;
}

button.filters-button {
    position: absolute;
    left: 10%;
    top: calc(1.3rem + 20px);
}

div.tweet {
    display: flex;
    flex-direction: column;
    border-bottom: solid var(--lightgray-2) 1px;
    width: 60%;
}

div.tweet:hover {
    cursor: pointer;
}

div.tweet > p {
    margin: 0.3rem 0;
}

p.author-info {
    color: var(--secondary-color);
}

p.tweet-text {
    font-size: 1.5rem;
}

p.tweet-text span.hashtag {
    color: var(--primary-color);
}

p.tweet-text span.hashtag:hover {
    cursor: pointer;
    text-decoration: underline;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: var(--primary-color);
    color: white;
}

footer > p {
    margin-left: 22%;
    font-family: 'Gugi';
    font-size: 4rem;
}

div.footer-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 22%;
    width: 30%;
}

div.footer-info p {
    margin-left: 3%;
}
